<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OClient API</title>
        <style>
            body {
              background-color: lightgray;
            }
        </style>
    </head>
    <body>
        <h1>OClient API</h1>
        <br>
        <a href="/">Home Page</a>
        <br><br>
        <button onclick="window.location.href=window.location.origin + '/strava/get/athlete'">Get Strava Athlete</button>
        <button onclick="window.location.href=window.location.origin + '/strava/get/activities'">Get Strava Activities</button>
        <button onclick="window.location.href=window.location.origin + '/linkedin/get/me'">Get Linkedin Profile</button>
        <button onclick="window.location.href=window.location.origin + '/spotify/get/me'">Get Spotify Profile</button>
        <button onclick="window.location.href=window.location.origin + '/spotify/get/newreleases'">Get Spotify New Releases</button>
        <button onclick="window.location.href=window.location.origin + '/spotify/put/rename'">Spotify Put Rename</button>
        <button onclick="window.location.href=window.location.origin + '/github/get/user'">Github Get User</button>
    </body>
</html>